CONFIG_FREERTOS_HZ=1000
CONFIG_LOG_DEFAULT_LEVEL=3
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80m=y
CONFIG_ESPTOOLPY_BAUD_921600=y
CONFIG_MBEDTLS_TLS_SERVER_AND_CLIENT=y
CONFIG_PARTITION_TABLE_TWO_OTA=y
CONFIG_SECURE_SIGNED_ON_REBOOT=n
CONFIG_SECURE_BOOT_V2_ENABLED=n
CONFIG_LWIP_MAX_SOCKETS=25
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_HTTP_TRANSPORT_OVER_SSL=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
